[Desktop Entry]
Encoding=UTF-8
Icon=text-html
Name[en_US]=Drift VPN Setup Guide
Name=Drift VPN Setup Guide
Type=Link
URL=https://github.com/Chieff79/Drift
